<nav class="dfe-vertical-nav">
    <ul class="dfe-vertical-nav__section">
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'guidance' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/guidance">Guidance</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'vision' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/guidance/vision">Setting your vision</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'mission' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/guidance/mission">Defining your mission</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'strategy' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/guidance/strategy">Creating your strategy</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'roadmap' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/guidance/roadmap">Making your roadmap</a>
        </li>
    </ul>
</nav>
