{% extends "layouts/full.html" %}

{% set selectedNav = "Guidance" %}
{% set pageName = "Defining your mission" %}
{% set pageDescription = "How to define a mission to describe what you're currently doing."%}
{% set sidenav = "mission"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
  {%include 'guidance/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">
      <p class="govuk-body">Your mission is the thing you’re currently doing, what you want to achieve and who it is for. </p>
      <p class="govuk-body">Your mission statement describes your mission. It is a clear, meaningful and motivational statement that can be used as a guiding policy for decision making - does this work contribute to the mission?</p>
      <p class="govuk-body">There can be multiple missions that multiple teams are working on simultaneously.</p>
      <p class="govuk-body">A good mission statement should describe:</p>
      <ul class="govuk-body">
        <li>what do we do now?</li>
        <li>who are we doing it for?</li>
        <li>what are we trying to accomplish to solve the problem?</li>
        <li>what impact are we trying to achieve?</li>
      </ul>
      <p class="govuk-body">Your mission should link to your strategy and vision. You should have a mission statement for each phase.</p>
      <p class="govuk-body">You should involve your team in setting your mission, which you can do by running a workshop.</p>
      <p class="govuk-body">You should share your mission statement regularly – such as in show and tells and meetings with stakeholders.</p>

      <H2 class="govuk-heading-l">Writing your mission statement</H2>
      <p class="govuk-body">Your mission statement should be written clearly and concisely. You should avoid acronyms and specialist language.  A content designer can help with this.</p> 
      <p class="govuk-body">You should test drafts of your mission statement with your users, team and stakeholders, to make sure they understand and agree.</p>

      <H2 class="govuk-heading-l">Example mission statement</H2>
      <p class="govuk-body">The example mission statement for the private beta phase of the imaginary service Get pencils for schools is:</p>
      <p class="govuk-body">We are building a digital service that enables school business professionals to easily order free pencils.</p> 
         
      <H2 class="govuk-heading-l">Further reading</H2>
      <p class="govuk-body"><a href="https://insidegovuk.blog.gov.uk/2017/04/07/questions-to-help-you-define-your-mission-a-thing-for-product-managers/">Questions to help you define your mission - a thing for product managers - Inside GOV.UK</a></p>
        
      </div>
    </div>
  </div>
{% endblock %}