{% extends "layouts/full.html" %}

{% set selectedNav = "Guidance" %}
{% set pageName = "Making your roadmap" %}
{% set pageDescription = "How to make a roadmap to show a prioritised sequence of outcomes. "%}
{% set sidenav = "roadmap"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
  {%include 'guidance/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">
      <p class="govuk-body">A product roadmap outlines the specific outcomes to achieve, and the priority order in which to achieve them. You should make sure that each item on your roadmap links back to your strategy.</p>
      <p class="govuk-body">You should involve your team and stakeholders in creating your roadmap, which you can do by running a workshop.</p>
      <p class="govuk-body">You should share your roadmap regularly - such as in show and tells and meetings with stakeholders.</p>

      <H2 class="govuk-heading-l">Outcomes not features</H2>
      <p class="govuk-body">Your roadmap should be outcome based. It should not be a list of features. You should have an idea of how you will measure that you have achieved each outcome.</p>
      
      <H2 class="govuk-heading-l">Designing your roadmap</H2>
      <p class="govuk-body">Your roadmap should be written clearly and concisely. You should avoid acronyms and specialist language. It should be in an accessible format.  A content designer can help with this. </p>
      
      <H2 class="govuk-heading-l">Times and dates on roadmap</H2>
      <p class="govuk-body">Your roadmap should cover:</p>
      <ul class="govuk-body">
        <li>now (0 to 3 months)</li>
        <li>next (3 to 6 months)</li>
        <li>later (6 months plus)</li>
      </ul>
      <p class="govuk-body">Your roadmap should not include delivery dates. These should be on your delivery plan. You should only include milestones on your roadmap where absolutely necessary.</p>
      
      <H2 class="govuk-heading-l">Roadmaps change</H2>
      <p class="govuk-body">You should avoid presenting your roadmap as absolute. A roadmap is reflective of the plan at one point in time. Things change, and so your roadmap may need to change. You should review your roadmap monthly and update it at least quarterly.</p>
      <H2 class="govuk-heading-l">Example roadmap</H2>

      <H2 class="govuk-heading-l">Further reading</H2>
      <p class="govuk-body"><a href="https://rossferg.medium.com/making-the-case-for-public-roadmaps-42d715982786">Making the case for public roadmaps - Ross Ferguson</a></p>
      </div>
    </div>
  </div>
{% endblock %}