{% extends "layouts/full.html" %}

{% set selectedNav = "Guidance" %}
{% set pageName = "Creating your strategy" %}
{% set pageDescription = "How to create a strategy to describe how you'll achieve your vision."%}
{% set sidenav = "strategy"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
  {%include 'guidance/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">
      <p class="govuk-body">A product strategy is the high-level plan of how you'll achieve your vision. A product strategy sits between your vision and roadmap. It describes how you intend to realise the vision, and provides the input to create a roadmap.</p>
      <p class="govuk-body">You should share your strategy regularly - such as in show and tells and meetings with stakeholders.</p>

      <H2 class="govuk-heading-l">What to include in your strategy</H2>
      <p class="govuk-body">Your strategy could include:</p>
      <ul class="govuk-body">
        <li>the policy and organisational context, and the problem you are trying to solve</li>
        <li>he scope of your service - what it will do and what it will not do</li>
        <li>who your users are, and who are not your users</li>
        <li>high level user needs that you have identified through research</li>
        <li>your high level delivery strategy - this may be your current roadmap, or may be a number of steps over multiple years</li>
        <li>what success looks like, and how it will be measured</li>
        <li>what risks might derail your plans, and how you will mitigate them</li>
      </ul>

      <H2 class="govuk-heading-l">Writing your strategy</H2>
      <p class="govuk-body">Your strategy should be written clearly and concisely. You should avoid acronyms and specialist language. It should be in an accessible format.  A content designer can help with this.</p>
      
      <H2 class="govuk-heading-l">Example strategy</H2>
    
         
      <H2 class="govuk-heading-l">Further reading</H2>
      <p class="govuk-body"><a href="https://preview.mailerlite.io/emails/webview/291538/129962825418278397">Product strategy: it's not just a roadmap - Just another PM</a></p>
      <p class="govuk-body"><a href="https://dwpdigital.blog.gov.uk/2024/03/21/writing-a-great-product-strategy-for-great-services/">Writing a great product strategy for great services - DWP Digital</a></p>
      <p class="govuk-body"><a href="https://www.justanotherpm.com/blog/product-strategy-9-tweets-to-help-you-understand-what-it-means">Product strategy - 9 tweets to help you understand what it means - Just another PM</a></p>
      <p class="govuk-body"><a href="https://gds.blog.gov.uk/2023/03/21/notifys-product-strategy-and-upcoming-features/">Notify's product strategy and upcoming features - Government digital service</a></p>
      <p class="govuk-body"><a href="https://wearecitizensadvice.org.uk/product-strategy-2021-to-2023-273c110054d6">Product strategy 2021 to 2023 - Citizens Advice</a></p>

      </div>
    </div>
  </div>
{% endblock %}