{% extends "layouts/full.html" %}

{% set selectedNav = "New starters" %}
{% set pageName = "New starters" %}
{% set pageDescription = "Information for anybody joining DfE as a civil servant or contractor product manager."%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <H2 class ="govuk-heading-l">Welcome to the Department for Education</H2>
      <p class="govuk-body">Our vision is that the Department for Education (DfE) will be the leader for product management in government.</p>
      <p class="govuk-body">Whether you're a new civil servant or a contractor, the below steps will help you to get started at DfE.</p>
      
      <H2 class="govuk-heading-l">Where to start as a new product manager</H2>
      <p class="govuk-body">Your line manager and team will tell you what you need to know about the project you're working on. They'll also give you general information about working for DfE, what to cover in your induction and any mandatory learning you need to do.</p>
      <p class="govuk-body">We have <a href="/community/leadership-team">lead product managers</a> in different areas of DfE. If there is a lead product manager in your area, you'll meet them to learn about your service area.</p>
      
      <H3 class="govuk-heading-m">1. Tell the Head of profession for product management you've joined</H3>
      <p class="govuk-body">Get in touch with Debbie Blanchard on Slack or by emailing debbie.blanchard@education.gov.uk to say hello.</p>
      
      <H3 class ="govuk-heading-m">2. Attend a product management profession onboarding session</H3>
      <p class="govuk-body">The Head of profession for product management runs monthly onboarding sessions for new civil servants and contractors.</p> 
      <p class="govuk-body">Onboarding sessions cover:</p>
      <ul class="govuk-body">
        <li>our product management community</li>
        <li>our principles</li>
        <li>any questions you have</li>
      </ul>
      <p class="govuk-body">Debbie will send you an invite for an onboarding session when you've let her know you've joined.</p>
      
      <H3 class ="govuk-heading-m">3.	Get your product manager community laptop sticker</H3>
      <p class="govuk-body">Our community has a sticker to represent us as product managers, a tenacious goat navigating a rocky landscape, and providing the North Star for our teams to follow.</p>
      <p class="govuk-body">Get your sticker from Debbie or your lead product manager.</p>
  
      <H3 class="govuk-heading-m">4.	Say hello in our community Slack channel</H3>
      <p class="govuk-body">Our <a href ="/community/slack">Slack channel</a> is a great place to meet, speak to and get advice from other DfE product managers. </p>
      
      <H3 class="govuk-heading-m">5. Read our values and principles</H3>
      <p class="govuk-body">Our <a href="community/principles">principles</a> describe how we deliver our best work as product managers at DfE. Our <a href="community/values">values</a> describe how we aspire to be as product managers.</p>
  
      <H3 class="govuk-heading-m">6. Attend your first meetup</H3>
      <p class="govuk-body">We have <a href="community/meetups">community meetups</a> every Thursday from 1:30pm to 2:30pm.</p>

    </div>
  </div>
{% endblock %}