<nav class="dfe-vertical-nav">
    <ul class="dfe-vertical-nav__section">
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'community' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/community">Our community</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'values' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/community/values">Our values</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'principles' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/community/principles">Our principles</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'meetups' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/community/meetups">Meetups</a>
        </li>
            <li class="dfe-vertical-nav__section-item {% if sidenav === 'slack' %}dfe-vertical-nav__section-item--current{% endif %}">
                <a class="dfe-vertical-nav__link" href="/community/slack">Slack</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'leadershipteam' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/community/leadership-team">Leadership team</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'developingourprofession' %}dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link" href="/community/developing-our-profession">Developing our profession</a>
        </li>
    </ul>
</nav>
