{% extends "layouts/full.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "Communication" %}
{% set pageDescription = "Communicate with other product managers."%}
{% set sidenav = "communication"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
  {%include 'community/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">
      <p class="govuk-body">Our <a href="https://teams.microsoft.com/l/channel/19%3APqM8ccI-m7GSObajLAzKxy1nsG89leLkD9CXZIDEnto1%40thread.tacv2/General%20PM%20chat?groupId=26c34512-edd6-4795-b233-435946673d89&tenantId=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9">Product Management team in DfE Teams</a> is a great place to meet, speak to and get advice from other DfE product managers.</p>
      <p class="govuk-body">There might also be a chat or team for product managers in your area of DfE - ask your lead product manager.</p>
      
      <H2 class="govuk-heading-l">Head of Profession email update</H2>
      <p class="govuk-body">Debbie sends a regular email with updates on the community, recruitment and work that the Heads of Profession are doing. <a href="https://teams.microsoft.com/l/chat/0/0?users=Debbie.blanchard@education.gov.uk">Contact Debbie in DfE Teams</a> or email <a href="mailto:debbie.blanchard@education.gov.uk"> debbie.blanchard@education.gov.uk</a> to get on the distribution list.</p>

        <H2 class="govuk-heading-l">Cross government Slack</H2>
        <p class="govuk-body">You can also join the <a href="https://ukgovernmentdigital.slack.com/archives/C06HVTMDH"target="_blank">cross-government Slack channel #prodmgt (opens in new tab) </a> to meet and talk to product managers from other government departments. There are useful links pinned in the channel, including learning lists and a buddy scheme you can sign up to.</p> 
        <p class="govuk-body">Anyone with a .gov.uk email address can <a href ="https://ukgovernmentdigital.slack.com/" target="blank">sign up for cross government Slack (opens in new tab)</a>.</p>
        </div>
    </div>
  </div>
{% endblock %}