{% extends "layouts/full.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "Community" %}
{% set pageDescription = "Our people, meetups, and how we're developing product management capability across the department."%}
{% set sidenav = "community"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
   
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
  {%include 'community/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">
      
        <p class="govuk-body">The Department for Education (DfE) product management community is a supportive, professional group who share, learn and develop together.</p>  
      <p class="govuk-body">Our vision is that DfE will be the leader for product management in government.</p>
      <p class="govuk-body">We regularly come together for <a href="/community/meetups"> meetups</a> and have an active and friendly chat in our <a href="https://teams.microsoft.com/l/team/19%3APqM8ccI-m7GSObajLAzKxy1nsG89leLkD9CXZIDEnto1%40thread.tacv2/conversations?groupId=26c34512-edd6-4795-b233-435946673d89&tenantId=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9">DfE Product Management Team</a>.</p>
      <p class="govuk-body">Our mission patch is a goat, on top of a mountain looking towards the North Star. As product managers, we provide the North Star for our teams to follow. The goat represents that product managers should be tenacious, and sometimes they have to navigate rocky landscapes.</p> 
        </div>
      </div>
    </div>
  </div>
{% endblock %}