{% extends "layouts/full.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "Leadership team" %}
{% set pageDescription = "Our product management profession leadership team, what they do, and how to contact them."%}
{% set sidenav = "leadershipteam"%}

{% block hero %}
  <section class="dfe-page-header">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
          <p class="govuk-body-l">{{pageDescription}}</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        {%include 'community/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">

        <div class="dfe-grid-container govuk-!-margin-top-9">

          <div class="dfe-card">
              <img src="/assets/images/deb.jpeg" alt="">
            <div class="dfe-card-container">
              <h3 class="govuk-heading-m">
               Debbie Blanchard
              </h3>
              <p>Head of Product Management</p>
            </div>
          </div>
        </div>

        <h2 class="govuk-heading-l"></h2>
     
        <p class="govuk-body">Debbie's role is to:</p>
        <ul class="govuk-body">
          <li>provide strategic leadership</li>
          <li>be the expert practitioner and provide coaching and support to others</li>
          <li>develop standards and tools</li>
          <li>develop product managers professional capacity</li>
          <li>lead the Department for Education (DfE) product community and represent us across government </li>
        </ul>
        <p class="govuk-body"><a href="https://teams.microsoft.com/l/chat/0/0?users=Debbie.blanchard@education.gov.uk">Contact Debbie in DfE Teams</a> or email <a href="mailto:debbie.blanchard@education.gov.uk"> debbie.blanchard@education.gov.uk</a>. </p>

        <h2 class="govuk-heading-l">Lead product managers</h2>
        <p class="govuk-body">We have lead product managers in different areas of DfE.</p>
        <p class>Lead product managers:</p>
        <ul class="govuk-body">
          <li>lead the product tactics and strategy for a portfolio or end-to-end service</li>
          <li>apply expert product management skills within teams at portfolio level and are responsible for defining the strategic direction and alignment to the strategy</li>
          <li>are a member of the management team for their product area and line manage product managers in their area</li>
        </ul>

        
        <h3 class="govuk-heading-m">DfE Connect - Hans Cayley</h3>
        <p class="govuk-body"><a href="https://teams.microsoft.com/l/chat/0/0?users=hans.cayley@education.gov.uk">Contact Hans in DfE Teams</a> or email <a href="mailto:hans.cayley@education.gov.uk">hans.cayley@education.gov.uk</a>.</p>
        
        <h3 class="govuk-heading-m">Teacher services - Alan Arnfeld</h3>
        <p class="govuk-body"><a href="https://teams.microsoft.com/l/chat/0/0?users=alan.arnfeld@education.gov.uk">Contact Alan in DfE Teams</a> or email <a href="mailto:alan.arnfeld@education.gov.uk">alan.arnfeld@education.gov.uk</a>.</p>

        <h3 class="govuk-heading-m">Schools and Capital - Kathryn King</h3>
        <p class="govuk-body"><a href="https://teams.microsoft.com/l/chat/0/0?users=kathryn.king@education.gov.uk">Contact Kathryn in DfE Teams</a> or email <a href="mailto:kathryn.king@education.gov.uk">kathryn.king@education.gov.uk</a>.</p>
        
        <h3 class="govuk-heading-m">Regions - Paul Simmons</h3>
        <p class="govuk-body"><a href="https://teams.microsoft.com/l/chat/0/0?users=paul.simmons@education.gov.uk">Contact Paul Simmons in DfE Teams</a> or email <a href="mailto:paul.simmons@education.gov.uk"> paul.simmons@education.gov.uk</a>.</p>
        
        <h3 class="govuk-heading-m">Children and families - Dave Burton</h3>
        <p class="govuk-body"><a href="https://teams.microsoft.com/l/chat/0/0?users=david.burton@education.gov.uk">Contact Dave in DfE Teams</a> or email <a href="mailto:david.burton@education.gov.uk">david.burton@education.gov.uk</a>.</p>

        <h3 class="govuk-heading-m">Funding - Stephen Blackmore</h3>
        <p class="govuk-body"><a href="https://teams.microsoft.com/l/chat/0/0?users=stephen.blackmore@education.gov.uk">Contact Stephen in DfE Teams</a> or email <a href="mailto:stephen.blackmore@education.gov.uk"> stephen.blackmore@education.gov.uk</a>.</p>

        <h3 class="govuk-heading-m">Customer experience and design - Paul Kelman and Becky Loftus</h3>
        <p class="govuk-body"><a href="https://teams.microsoft.com/l/chat/0/0?users=paul.kelman@education.gov.uk">Contact Paul Kelman in DfE Teams</a> or email <a href="mailto:paul.leman@education.gov.uk">paul.kelman@education.gov.uk</a>.</p>
        <p class="govuk-body"><a href="https://teams.microsoft.com/l/chat/0/0?users=becky.loftus@education.gov.uk">Contact Becky in DfE Teams</a> or email <a href="mailto:becky.loftus@education.gov.uk">becky.loftus@education.gov.uk</a>.</p>

      </div>
    </div>
  </div>
</div>
{% endblock %}