{% extends "layouts/full.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "Leadership team" %}
{% set pageDescription = "Our product management profession leadership team, what they do, and how to contact them."%}
{% set sidenav = "leadershipteam"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
  {%include 'community/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">
      <div class="govuk-body">
      <p></p>
        </div>
    </div>
  </div>
{% endblock %}