{% extends "layouts/full.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "Leadership team" %}
{% set pageDescription = "Our product management profession leadership team, what they do, and how to contact them."%}
{% set sidenav = "leadershipteam"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
  {%include 'community/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">
      <H2 class="govuk-heading-l">Head of profession</H2>
      <img src="/assets/images/debbie-blanchard.jpg"style="width:230px;" alt="Debbie Blanchard">
      <p class="govuk-body">Debbie Blanchard is the Head of Profession for Product Management.</p>
      <p class="govuk-body">Her role is to:</p>
      <ul class="govuk-body">
        <li>provide strategic leadership</li>
        <li>be the expert practitioner and provide coaching and support to others</li>
        <li>develop standards and tools</li>
        <li>develop product managers professional capacity</li>
        <li>lead the Department for Educatio (DfE) product community and represent us across government </li>
      </ul>
      <p class="govuk-body">Debbie sends an email to the community each month. You can <a href="https://ukgovernmentdfe.slack.com/team/U05TD63JRC7">contact Debbie in DfE Slack</a> or email <a href="mailto:debbie.blanchard@education.gov.uk"> debbie.blanchard@education.gov.uk</a>. </p>

      <H2 class="govuk-heading-l">Lead product managers</H2>
      <p class="govuk-body">We have lead product managers in different areas of DfE.</p>
      <p class>Lead product managers:</p>
      <ul class="govuk-body">
      <li>lead the product tactics and strategy for a portfolio or end-to-end service</li>
      <li>apply expert product management skills within teams at portfolio level and are responsible for defining the strategic direction and alignment to the strategy</li>
      <li>are a member of the management team for their product area and line manage product managers in their area</li>
      </ul>
      
      <H3 class="govuk-heading-m">Teacher services - Ben Belward</H3>
      <p class="govuk-body">You can <a href="https://ukgovernmentdfe.slack.com/team/U026GFSDD4P">contact Ben in DfE Slack</a> or email <a href="mailto:ben.belward@education.gov.uk">ben.belward@education.gov.uk</a>.</p>

      <H3 class="govuk-heading-m">Schools and capital - Hans Cayley</H3>
      <p class="govuk-body">You can <a href="https://ukgovernmentdfe.slack.com/team/UAS505FTL">contact Hans in DfE Slack</a> or email <a href="mailto:hans.cayley@education.gov.uk">hans.cayley@education.gov.uk</a>.</p>

      <H3 class="govuk-heading-m">DfE Connect - Liisa Suidt</H3>
      <p class="govuk-body">You can <a href="https://ukgovernmentdfe.slack.com/team/U02NW78TMT5">contact Lisa in DfE Slack</a> or email <a href="mailto:liisa.suidt@education.gov.uk">liisa.suidt@education.gov.uk</a>.</p>

      <H3 class="govuk-heading-m">Children and families - Dave Burton (interim)</H3>
      <p class="govuk-body">You can <a href="https://ukgovernmentdfe.slack.com/team/U01EM77K2AX">contact Dave in DfE Slack</a> or email <a href="mailto:david.burton@education.gov.uk">david.burton@education.gov.uk</a>.</p>
    
      <H3 class="govuk-heading-m">Regions - Paul Simmons</H3>
      <p class="govuk-body">You can <a href="https://ukgovernmentdfe.slack.com/team/U5S39GZ96">contact Paul Simmons in DfE Slack</a> or email <a href="mailto:paul.simmons@education.gov.uk"> paul.simmons@education.gov.uk</a>.</p>
      
      <H3 class="govuk-heading-m">Customer experience and design - Paul Kelman and Becky Loftus</H3>
      <p class="govuk-body">You can <a href="https://ukgovernmentdfe.slack.com/team/U7EGUFYUS">contact Paul Kelman in DfE Slack</a> or email <a href="mailto:paul.leman@education.gov.uk">paul.kelman@education.gov.uk</a>.</p>  
      <p class="govuk-body">You can <a href="https://ukgovernmentdfe.slack.com/team/U020V6VN1L3">contact Becky in DfE Slack</a> or email <a href="mailto:becky.loftus@education.gov.uk">becky.loftus@education.gov.uk</a>.</p>
      
      <H3 class="govuk-heading-m">Customer success - Clare Charlesworth</H3>
      <p class="govuk-body">You can <a href="https://ukgovernmentdfe.slack.com/team/U0153SQLPQQ">contact Clare in DfE Slack</a> or email <a href="mailto:clare.charlesworth@education.gov.uk">clare.charlesworth@education.gov.uk</a>.</p>

      <H3 class="govuk-heading-m">Data - Alix Crabtree</H3>
      <p class="govuk-body"> Currently working away from DfE.</p>
    
    </div> 
    </div> 
    </div>
  </div>
{% endblock %}