{% extends "layouts/full.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "Meetups" %}
{% set pageDescription = "We regularly meet as a community, to learn together and spend time with other product managers."%}
{% set sidenav = "meetups"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
  {%include 'community/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">
      <p class="govuk-body">Our community meets online every Thursday from 1:30pm to 2:30pm. </p>
      <p class="govuk-body">We have different types of meetups including:</p> 
        <ul class ="govuk-body">
        <li>show and tells - where DfE product managers share what they are currently working on</li>
        <li>guest speakers - who may be from outside of DfE or a member of a different profession</li>
        <li>action learning - where we work on something together as a community</li>
        <li>content conclave - where as a group we discuss our thoughts on a piece of content about product management</li>
        <li>joint sessions - where we join up with other profession communities</li>
        </ul>
        
        <H2 class="govuk-heading-l">Get involved with meetups</H2>
        <p class="govuk-body">To get the invite, <a href="https://ukgovernmentdfe.slack.com/team/U05TD63JRC7">contact Debbie in DfE Slack</a> or email <a href="mailto:debbie.blanchard@education.gov.uk"> debbie.blanchard@education.gov.uk</a>. </p>
        <p class="govuk-body">Also let Debbie know if you'd like to share your work at a meetup, or have a suggestion for a topic or speaker.</p> 
      </div>
    </div>
  </div>
{% endblock %}