{% extends "layouts/full.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "Principles" %}
{% set pageDescription = "How we're delivering our best work."%}
{% set sidenav = "principles"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
  {%include 'community/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">
      
        <p class="govuk-body">Together, we created a set of principles describing how we deliver our best work as product managers at DfE.</p>  
        <ol class="govuk-body">
        <li>We set the vision, missions and strategy for our products, and share it. We know how this fits into the bigger picture.</li>
        <li>We know and understand our users and customers. We act as their voice.</li>
        <li>We don't deliver outputs, we deliver outcomes. We're accountable for them. We make sure they're measurable, attainable and valuable.</li>
        <li>We align and prioritise our work towards the outcomes, using a roadmap.</li>
        <li>We identify our stakeholders and take them on a journey with us. We work with them, not at them.</li>
        <li>We do the hard work so that everyone on our team knows what's expected of them. </li>
        <li>We're evidence led. We don't let our own preferences guide our thinking. We know our products better than anyone. </li>
        <li>We help raise the bar for Product Management. We help people where we can and we are not afraid to ask for help ourselves. We are bold. </li>
        </ol>
       
        </div>
      </div>
    </div>
  </div>
{% endblock %}
