{% extends "layouts/full.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "Slack" %}
{% set pageDescription = "Communicate with other product managers using Slack."%}
{% set sidenav = "slack"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
  {%include 'community/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">
      <p class="govuk-body">Our <a href="https://ukgovernmentdfe.slack.com/archives/C586MAFU7"target="_blank">#productmanagement (opens in new tab)</a> channel in Department for Education (DfE) Slack is a great place to meet, speak to and get advice from other DfE product managers.</p>
      <p class="govuk-body">There might be a product manager channel in your area. Ask your lead product manager.</p>
      <p class="govuk-body">All civil servant and contractor product managers should be given access to Slack when you join DfE. If not, <a href="https://ukgovernmentdfe.slack.com/signup"target="_blank">you can sign up manually for Slack (opens in new tab)</a>. You will need an education.gov.uk email address to join.</p>
        
        <H2 class="govuk-heading-l">Cross government Slack</H2>
        <p class="govuk-body">You can also join the <a href="https://ukgovernmentdigital.slack.com/archives/C06HVTMDH"target="_blank">cross-government Slack channel #prodmgt (opens in new tab) </a> to meet and talk to product managers from other government departments. There are useful links pinned in the channel, including learning lists and a buddy scheme you can sign up to.</p> 
        <p class="govuk-body">Anyone with a .gov.uk email address can <a href ="https://ukgovernmentdigital.slack.com/" target="blank">sign up for cross government Slack (opens in new tab)</a>.</p>
        </div>
    </div>
  </div>
{% endblock %}