{% extends "layouts/full.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "Values" %}
{% set pageDescription = "How we aspire to be as product managers."%}
{% set sidenav = "values"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        {%include 'community/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">
      <p class ="govuk-body">Together, we created a set of values describing how we aspire to be as product managers.</p>
      <p class ="govuk-body">Great product managers:</p>
        <ul class ="govuk-body">
        <li>are visionary</li>
        <li>are collaborative</li>
        <li>are user focused</li>
        <li>are enthusiastic</li>
        <li>are bold</li>
        <li>are team players</li>
        <li>are ambassadors</li>
        <li>are empowered</li>
        <li>are honest</li>
        <li>are open</li>
        <li>are tenacious</li>
        <li>are curious</li>
        <li>are creative</li>
        <li>are humble</li>
        <li>are decisive</li>
        <li>are flexible</li>
        <li>are approachable</li>
        <li>have integrity</li> 
        </ul>
      </div>
    </div>
  </div>
{% endblock %}