{% extends "layouts/full.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "Values" %}
{% set pageDescription = "How we aspire to be as product managers."%}
{% set sidenav = "values"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        {%include 'community/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">
      <p class ="govuk-body">Together, we created a set of values describing the characteristics we aspite to as product managers</p>
      <p class ="govuk-body">Great product managers are:</p>
        <ul class ="govuk-body">
          <li>ambassadors</li>
          <li>approachable</li>
          <li>bold</li>
          <li>collaborative</li>
          <li>creative</li>
          <li>curious</li>
          <li>decisive</li>
          <li>empowered</li>
          <li>enthusiastic</li>
          <li>flexible</li>
          <li>honest</li>
          <li>humble</li>
          <li>open</li>
          <li>team players</li>
          <li>tenacious</li>
          <li>user focused</li>
          <li>visionary</li>
        </ul>
        <p class="govuk-body">And they always act with integrity. </p>
      </div>
    </div>
  </div>
{% endblock %}