<nav class="dfe-vertical-nav">
    <ul class="dfe-vertical-nav__section">
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'overview' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/principles">Overview</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'principle1' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/principles/principle-1">Principle 1</a>
        </li>
    </ul>
</nav>
