<nav class="dfe-vertical-nav">
    <ul class="dfe-vertical-nav__section">
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'principles' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/principles">Principles</a>
        </li>

        <li class="dfe-vertical-nav__section-item {% if sidenav === 'principle 1' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/principles/principle-1">Principle 1</a>
        </li>

        <li class="dfe-vertical-nav__section-item {% if sidenav === 'principle 2' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/principles/principle-2">Principle 2</a>
        </li>
          
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'principle 3' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/principles/principle-3">Principle 3</a>
        </li>

        <li class="dfe-vertical-nav__section-item {% if sidenav === 'principle 4' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/principles/principle-4">Principle 4</a>
        </li>

        <li class="dfe-vertical-nav__section-item {% if sidenav === 'principle 5' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/principles/principle-5">Principle 5</a>
        </li>
        
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'principle 6' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/principles/principle-6">Principle 6</a>
        </li>

        <li class="dfe-vertical-nav__section-item {% if sidenav === 'principle 7' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/principles/principle-7">Principle 7</a>
        </li>

        <li class="dfe-vertical-nav__section-item {% if sidenav === 'principle 8' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/principles/principle-8">Principle 8</a>
        </li>
        
    </ul>
</nav>
