{% extends "layouts/full.html" %}

{% set selectedNav = "Principles" %}
{% set pageName = "Principles" %}
{% set pageDescription = ""%}
{% set sidenav = "overview"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
  {%include 'principles/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l">Overview of principles</h2>
        <p class="govuk-body">This is where we will tell you things</p>
      </div>
    </div>
  </div>
{% endblock %}