{% extends "layouts/full.html" %}

{% set selectedNav = "Principles" %}
{% set pageName = "Principle 1" %}
{% set pageDescription = "We set the vision, missions and strategy for our products, and share it. We know how this fits into the bigger picture."%}
{% set sidenav = "principle 1"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
  {%include 'principles/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">

        <H2 class="govuk-heading-l">Vision</H2>
        <p class="govuk-body">A vision describes what we want to achieve. It is a clear, concise and inspirational description of the desired long-term change resulting from your digital service, or programme’s work.</p>
        <p class="govuk-body">The vision sets a North Star to give direction for you and your team. It should be memorable and inspiring.</p>
        <p class="govuk-body"> Your vision should include:</p>
        <ul class="govuk-body">
          <li>where are we going?</li>
          <li>what do we want to achieve in the future?</li>  
          <li>what kind of future do we envisage?</li>
        </ul>
        <p class="govuk-body">Your vision should describe an outcome, not a solution. The outcomes should be measurable. It should be stretching and aspirational, but achievable. It does not need to be overcomplicated. You should make sure the scope of your vision is not too broad.</p>
        <p class="govuk-body">Your vision should link to your strategy and mission statement. You should use the same vision across all phases, alongside your specific strategy and mission statement for each phase.</p>

        <H3 class="govuk-heading-m">Further reading</H3>
        <p class="govuk-body"><a href="https://www.youtube.com/watch?v=tBPTwUmaxDs">Creating a compelling product vision, Abi Etwood, YouTube</a></p>
        <p class="govuk-body"><a href="https://www.scrum.org/resources/blog/10-tips-product-owners-product-vision">10 tips for product owners on product vision, Robbin Schuurman Scrum.org</a></p>
        <p class="govuk-body"><a href="https://www.vincelaw.co/blog/beginners-guide-to-product-vision">A beginners guide to product vision, Vince Law</a></p>
        <p class="govuk-body"><a href="https://www.romanpichler.com/blog/the-product-vision-board/">The product vision Board, Roman Pilcher</a></p>
        <p class="govuk-body"><a href="https://dwpdigital.blog.gov.uk/2017/02/28/helping-teams-define-their-focus/">Helping teams to define their focus, Melanie Cannon, DWP Digital</a></p>
      
        <H2 class="govuk-heading-l">Mission</H2>
        <p class="govuk-body">A mission is a clear, meaningful and motivational statement that describes what you're currently seeking to achieve. You can use this as a guiding policy for decision making – does the work contribute to the mission?</p>
        <p class="govuk-body">Your mission is your elevator pitch - a brief speech outlining what it is you're doing. It should be easy for people to understand what you're hoping to achieve.</p>

        <H3 class="govuk-heading-m">Your mission should include:</H3>
        <ul class="govuk-body">
          <li>what do we do now?</li>
          <li>who do we do it for?</li>
          <li>what are we trying to accomplish to solve the problem?</li>
          <li>what impact do we want to achieve?</li>
        </ul>
        <p class="govuk-body">You should make sure the scope of your mission is not too broad. You should also avoid having unrealistic goals, and wooly objectives which are not SMART.</p>

        <H3 class="govuk-heading-m">Further reading</H3>
        <p class="govuk-body"><a href="https://preview.mailerlite.io/emails/webview/291538/129962825418278397">Product strategy: it's not just a roadmap, Just another PM</a></p>
        <p class="govuk-body"><a href="https://dwpdigital.blog.gov.uk/2024/03/21/writing-a-great-product-strategy-for-great-services/">Writing a great product strategy for great services, James Brown, DWP Digital</a></p>
        <p class="govuk-body"><a href="https://insidegovuk.blog.gov.uk/2017/04/07/questions-to-help-you-define-your-mission-a-thing-for-product-managers/">Questions to help you define your mission- a thing for product managers, Jen Allum, Inside GOV.UK</a></p>
        <p class="govuk-body"><a href="https://media.nesta.org.uk/documents/What_does_a_mission-driven_approach_to_government_mean_and_how_can_it_be_delivered.pdf">Mission driven government - what does a ‘mission-driven’ approach to government mean and how can it be delivered?, nesta and Institute for government</a>
        </p>
        </ul>

        <H2 class="govuk-heading-l">Strategy</H2>
        <p class="govuk-body">A product strategy is the high-level plan of how you’ll achieve your vision. It should cover the entire product lifecycle - not just the creation and development.</p>
        <p class="govuk-body">Your strategy should be based on the outcomes you plan to achieve. It should link to the bigger picture. When deciding your strategy - you should understand what will make the biggest difference.  You should avoid having a definitive output - your strategy may change due to external factors.</p>
        <p class="govuk-body">Your strategy is not a description of what you plan to achieve by what dates - that is your delivery plan.</p> 
        <p class="govuk-body">The measurements to determine if you've been successful should be linked to your strategy. You should also consider what will and will not be influenced by a digital product.</p>  

        <H3 class="govuk-heading-m">Further reading</H3>
        <p class="govuk-body"><a href="https://www.justanotherpm.com/blog/product-strategy-9-tweets-to-help-you-understand-what-it-means">Product strategy - 9 tweets to help you understand what it means, Just another PM</a></p>
        <p class="govuk-body"><a href="https://gds.blog.gov.uk/2023/03/21/notifys-product-strategy-and-upcoming-features/">Notify's product strategy and upcoming features, Irina Pencheva, Government Digital Service</a></p>
        <p class="govuk-body"><a href="https://wearecitizensadvice.org.uk/product-strategy-2021-to-2023-273c110054d6">Product strategy 2021 to 2023, Kylie Havelock, Citizens Advice</a></p>
        
      
        <H2 class="govuk-heading-l">Writing your vision, mission and strategy</H2>
       <p class="govuk-body">Your vision, mission and strategy should be written clearly and concisely. </p>
       <p class="govuk-body">You should avoid:</p>
       <ul class="govuk-body">
        <li>acronyms and specialist language</li>
        <li>lengthy and wordy documents</li>
        <li>using generic phrases</li>
        <li>failing to convey a message</li>
       </ul>
       <p class="govuk-body">Avoid writing them in isolation. You should seek input from and test drafts with your users, team and stakeholders, to make sure they understand and agree.</p>
       
        <H2 class="govuk-heading-l">Considering the bigger picture</H2>
        <p class="govuk-body">You should know how your work fits within the overall goals of the Department for Education, and the broader aims of digital government. You should communicate to try and influence future strategies.</p>
        <p class="govuk-body">You should understand the ecosystem of your work – what links to it and what sits near it. Find people who are working on similar services and learn from them.</p>
        <p class="govuk-body">You should understand what standards you need to adhere to. You will also need to understand constraints - both in terms of scope and policy, and technical choices.</p>
        <p class="govuk-body">You should develop and maintain an understanding of the relevant economic, social, political, environmental and technological landscape.</p>
        <p class="govuk-body">Bring together the views, perspectives and diverse needs of your users and stakeholders to gain a broader understanding of the space you are working in.</p>

      </div> 
    </div> 
    </div>
  </div>
{% endblock %}