{% extends "layouts/full.html" %}

{% set selectedNav = "Principles" %}
{% set pageName = "Principle 7" %}
{% set pageDescription = "We're evidence led. We do not let our own preferences guide our thinking. We know our products better than anyone."%}
{% set sidenav = "principle 7"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
  {%include 'principles/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">
      <p class="govuk-body">Understand the context for your decision. If you know your product and the space you're operating in, you will make better decisions.</p> 
      <p class="govuk-body">Consider the risk: you might not have enough evidence, but taking a well-informed risk might be better than to keep on waiting.</p>
      <p class="govuk-body">Evidence can come in many forms - it can be a user need, a business need, or it can be data. It will help you to rationalise the decision you make.</p> 
      <p class="govuk-body">Where you can, consider using data from a range of sources. Data we have access to includes:</p> 
      <ul class="govuk-body">
        <li>data from existing services</li>
        <li>social research data</li>
        <li>qualitative data eg user research data</li>
        <li>quantitative data eg performance analytics</li>
      </ul>
      <p class="govuk-body">Use the data to make your decisions, or to arrive at your hypothesis for change. The data won't give you all the answers, but it will help you to back up the decision you make.</p> 
  </p>
    </div> 
    </div> 
    </div>
  </div>
{% endblock %}