{% extends "layouts/full.html" %}

{% set selectedNav = "Principles" %}
{% set pageName = "Principle 4" %}
{% set pageDescription = "We align and prioritise our work towards the outcomes, using a roadmap."%}
{% set sidenav = "principle 4"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
  {%include 'principles/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">
        <H2 class="govuk-heading-l">Prioritisation</H2>
        <p class="govuk-body">Prioritisation involves using evidence for strategic and tactical decision making.</p>
        <p class="govuk-body">You should prioritise work in order to deliver value and meet user needs as early as possible.</p>
        <p class="govuk-body">We prioritise so that we:</p>
        <ul class="govuk-body">
          <li>ensure a shared understanding of the work that is required</li>
          <li>consider and balance risks and dependencies</li>
          <li>confirm deliverables are worth the effort</li>
          <li>make sure our work aligns to organisational dependencies</li>
        </ul>

        <H3 class="govuk-heading-m">How to approach prioritisation</H3>
        <p class="govuk-body">Listen to users.Engage with all stakeholders to understand the value and aims. You should also ensure you have access to the relevant subject matter experts. Consider business benefits and value alongside user needs. ​</p>
        <p class="govuk-body">You should use all available evidence to understand the full picture, and <a href="/principles/principle-7">make evidence based decisions</a>. </p>
        <p class="govuk-body">Use an appropriate <a href="https://foldingburritos.com/blog/product-prioritization-techniques/">prioritisation framework</a> so you can justify the priority order.</p>
        <p class="govuk-body">The work required for sizing or estimation of tasks must be proportional to the task itself.</p>
        <p class="govuk-body">Prioritisation can be collaborative, and you should work towards the team being aligned in prioritisation decisions. As product manager, you have full responsibility for final decisions.</p>
        <p class="govuk-body">Make sure that you consider the bigger picture, and avoid using prioritisation to further your personal agenda.</p>

        <H2 class="govuk-heading-l">Roadmapping</H2>
        <p class="govuk-body">A roadmap is a prioritised sequence of outcomes that deliver the product strategy, realising value in the most effective way. It is part of your storytelling about what you’re doing and why. You can use it to have conversations with stakeholders about what work you are doing and when.</p>
        <p class="govuk-body">As a product manager, you own your roadmap. A roadmap is a colloborative document. Avoid creating it in isolation. You should involve your team and stakeholders in creating it. They should be aware of the roadmap and bought in to it. </p>
        <p class="govuk-body">The roadmap should be understandable on it's own. It should be relevant and accurate.</p>

        <H3 class="govuk-heading-m">Outcomes not features</H3>
        <p class="govuk-body">Your roadmap should be made up of <a href="/principles/principle-7">measurable outcomes</a>. It should not be a list of features. Features can change, but the outcome rarely changes.  You should have an idea of how you will measure that you have achieved each outcome.</p>

        <H3 class="govuk-heading-m">Times and dates</H3>
        <p class="govuk-body">Your roadmap should cover:</p>
        <ul class="govuk-body">
          <li>now (0 to 3 months)</li>
          <li>next (3 to 6 months)</li>
          <li>later (6 months plus)</li>
        </ul>
        <p class="govuk-body">Your roadmap should not include delivery dates. These should be on your delivery plan. You should only include milestones on your roadmap where absolutely necessary.</p>

        <H3 class="govuk-heading-m">Designing your roadmap</H3>
        <p class="govuk-body">Your roadmap should be written clearly and concisely. You should avoid acronyms and specialist language. It should be in an accessible format.</p>

        <H3 class="govuk-heading-m">Roadmaps change</H3>
        <p class="govuk-body">You should avoid presenting your roadmap as absolute. A roadmap is reflective of the plan at one point in time. Things change, and so your roadmap will need to change. You should review your roadmap monthly and update it at least quarterly.</p>
          
      
      </div> 
    </div> 
    </div>
  </div>
{% endblock %}