{% extends "layouts/full.html" %}

{% set selectedNav = "Principles" %}
{% set pageName = "Principle 3" %}
{% set pageDescription = "We deliver outcomes, not outputs. We're accountable for them. We make sure they're measurable, attainable and valuable"%}
{% set sidenav = "principle 3"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
  {%include 'principles/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">

      <H2 class="govuk-heading-l">Outcomes, not outputs</H2>
       <p class="govuk-body">An output describes the results of an activity. For example, if your service launches a new feature – this feature is an output. The output does not indicate what value the user or customer will experience.</p>
       <p class="govuk-body">An outcome is the benefit or change users experience from the product.  </p> 

       <H2 class="govuk-heading-l">Measuring value</H2>
        <p class="govuk-body">As product managers, we need to understand, and be able to articulate, what value we expect to achieve with the work we’re doing. And we need to know if that value is actually added. What difference have we made? And is it making things better?</p>

        <H3 class="govuk-heading-m">Deciding key performance indicators</H3>
        <p class="govuk-body">Take the time to identify what key performance indicators (KPIs) and business metrics will be relevant for your product or service. Make sure your metrics are useful and support your service. Don’t report on too many.</p>
        <p class="govuk-body">Remember that just because you’re collecting a piece of data, it does not need to feed into a KPI.</p>
        <p class="govuk-body">Consider the repercussions of your service. Think about what bad looks like as well as what good looks like, and make sure you’ve got data on both.</p>

        <H3 class="govuk-heading-m">Mandatory key performance indicators</H3>
        <p class="govuk-body">The Service Manual specifies <a href="https://www.gov.uk/service-manual/measuring-success/using-data-to-improve-your-service-an-introduction"> 4 mandatory KPIs</a>. You are not limited to these. If the mandatory KPIs are not relevant, you need to show you have considered them and justify why they are not.</p>

      </div> 
    </div> 
    </div>
  </div>
{% endblock %}