{% extends "layouts/full.html" %}

{% set selectedNav = "Principles" %}
{% set pageName = "Principle 5" %}
{% set pageDescription = "We identify our stakeholders and take them on a journey with us. We work with them, not at them."%}
{% set sidenav = "principle 5"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
  {%include 'principles/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">
        <H2 class="govuk-heading-l">What we want</H2>
        <p class="govuk-body">Delivering good products and services in government relies on having engaged and supportive stakeholders.</p>
        <p class="govuk-body">We are aiming for:</p>
        <ul class="govuk-body">
          <li>a defined group of stakeholders who buy-in to the product vision and roadmap</li>
          <li>stakeholders who understand how the product lifecycle works, and who allow us space to help them achieve their outcomes</li>
          <li>clear alignment across stakeholders of what will get done and when</li>
          <li>good levels of engagement and challenge at Show and Tells</li>
        </ul>
        
        <H2 class="govuk-heading-l">How we do this</H2>
        <p class="govuk-body">Engage early - get to know your stakeholders from day one. You should actively build and maintain these relationships through <a href="https://adrtimes.com/shuttle-diplomacy/">shuttle diplomacy</a> (regular 1:1 sessions with key stakeholders). Stakeholder management is never done.</p>
        <p class="govuk-body">Tailor communications and conversation – find a common language to determine outcomes so that you both agree where you're headed.</p>
        <p class="govuk-body">Be collaborative and transparent. You should include stakeholders in your conversations about your vision, strategy and roadmap. They should know what you're working on and why, as well as any problems you're encountering.</p>
        <p class="govuk-body">Complete a <a href="https://analysisfunction.civilservice.gov.uk/policy-store/stakeholder-mapping/">stakeholder matrix</a> and review it regularly.</p>
        <p class="govuk-body">Remain available and approachable to all colleagues and be receptive to new ideas.</p>
        <p class="govuk-body">Tackle any challenge or misalignment, rather than glossing over problems or not talking about them.</p>
        <p class="govuk-body">Do not assume you know what your stakeholders need.</p>
        <p class="govuk-body">Do not listen to stakeholder opinion over user and business needs</p>
      
           
          </div> 
    </div> 
    </div>
  </div>
{% endblock %}