{% extends "layouts/full.html" %}

{% set selectedNav = "Principles" %}
{% set pageName = "Principle 1" %}
{% set pageDescription = "We set the vision, missions and strategy for our products, and share it. We know how this fits into the bigger picture."%}
{% set sidenav = "principle 1"%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
  {%include 'principles/_sidenav.html'%}
      </div>
      <div class="govuk-grid-column-three-quarters">

        <H2 class="govuk-heading-l">Vision</H2>
        <p class="govuk-body">The vision describes what we want to achieve: the clear, concise and inspirational long-term desired change resulting from your digital service, or programme’s work. </p>
        <p class="govuk-body">This should be used to set a North Star to drive the direction of you and your teams.</p>
        
        <H3 class="govuk-heading-m">A good vision should include:</H3>
        <ul class="govuk-body">
          <li>where are we going?</li>
          <li>what do we want to achieve in the future?</li>
          <li>what kind of future do we envisage?</li>
          <li>an outcome, not a solution</li>
        </ul>

        <H3 class="govuk-heading-m">It should be:</H3>
        <ul class="govuk-body">
          <li>clear</li>
          <li>aspirational (yet achievable)</li>
          <li>stretching</li>
          <li>memorable</li>
          <li>concise</li>
          <li>inspiring</li>
          <li>linked to strategic goals/mission statement</li>
          <li>phase agnostic - use one vision with missions or goals for each product phase</li>
          <li>active</li>
          <li>possible to measure</li>
        </ul>

        <H3 class="govuk-heading-m">Avoid:</H3>
        <ul class="govuk-body">
          <li>complex language</li>
          <li>scope being too broad</li>
          <li>use of generic phrases</li>
          <li>failing to convey a message</li>
          <li>acronyms/specialist language</li>
          <li>over-complication</li>
          <li>stagnation</li>
          <li>setting it aline - you should test your vision with your users, team and stakeholders</li>
        </ul>

        <H3 class="govuk-heading-m">Further reading</H3>
        <p class="govuk-body"><a href="https://www.youtube.com/watch?v=tBPTwUmaxDs">Ebi Atwood - creating a compelling product vision</a></p>
        <p class="govuk-body"><a href="https://www.scrum.org/resources/blog/10-tips-product-owners-product-vision">Scrum.org's top 10 tips</a></p>
        <p class="govuk-body"><a href="https://www.vincelaw.co/blog/beginners-guide-to-product-vision">Vince Law guide to product vision</a></p>
        <p class="govuk-body"><a href="https://www.romanpichler.com/blog/the-product-vision-board/">Roman Pilcher Product Vision Board</a></p>
        <p class="govuk-body"><a href="https://dwpdigital.blog.gov.uk/2017/02/28/helping-teams-define-their-focus/">DWP Digital - helping teams to define their focus</a></p>
      
        <H2 class="govuk-heading-l">Mission</H2>
        <p class="govuk-body">A mission is a clear, meaningful and motivational statement(s) that clarifies what you are seeking to achieve and who it is for. You can use this as a guiding policy for decision making – does the work contribute to the mission?</p>

        <H3 class="govuk-heading-m">A good mission should include:</H3>
        <ul class="govuk-body">
          <li>what do we do now?</li>
          <li>who do we do it for?</li>
          <li>what are we trying to accomplish to solve the problem?</li>
          <li>what impact do we want to achieve?</li>
        </ul>

        <H3 class="govuk-heading-m">It should be:</H3>
        <ul class="govuk-body">
          <li>easily understandable about what will be achieved</li>
          <li>inspirational for people</li>
          <li>the elevator pitch</li>
          <li>tangible</li>
          <li>valuable</li>
        </ul>

        <H3 class="govuk-heading-m">Avoid:</H3>
        <ul class="govuk-body">
          <li>unrealistic goals, wooly objectives and goals not being SMART</li>
          <li>scope being too broad</li>
          <li>use of jargon and acronyms - it should be meaningful to those who read it</li>
          <li>failing to convey a message</li>
        </ul>

        <H3 class="govuk-heading-m">Further reading</H3>
        <p class="govuk-body"><a href="https://preview.mailerlite.io/emails/webview/291538/129962825418278397">strategy ≠ roadmap (mailerlite.io)"</a></p>
        <p class="govuk-body"><a href="https://dwpdigital.blog.gov.uk/2024/03/21/writing-a-great-product-strategy-for-great-services/">https://dwpdigital.blog.gov.uk/2024/03/21/writing-a-great-product-strategy-for-great-services/</a></p>
        <p class="govuk-body"><a href="https://insidegovuk.blog.gov.uk/2017/04/07/questions-to-help-you-define-your-mission-a-thing-for-product-managers/">https://insidegovuk.blog.gov.uk/2017/04/07/questions-to-help-you-define-your-mission-a-thing-for-product-managers/</a></p>
        <p class="govuk-body"><a href="https://media.nesta.org.uk/documents/What_does_a_mission-driven_approach_to_government_mean_and_how_can_it_be_delivered.pdf">What does a ‘mission-driven’ approach to government mean and how can it be delivered (nesta.org.uk)</a>
        </p>
        </ul>

        <H2 class="govuk-heading-l">Strategy</H2>
        <p class="govuk-body">A strategy describes the outcomes your team will use to realise the product vision – this is the "how".</p>
        <p class="govuk-body">Links measurements and metrics to a successful outcome of deployment of the strategy and product(s) – and considering what will and won’t be influenced by a digital product.</p> 
        
        <H3 class="govuk-heading-m">It should:</H3>
        <ul class="govuk-body">
          <li>be outcome based</li>
          <li>link to the bigger picture</li>
          <li>cover product lifecycle, not just creation and development</li>
          <li>include the 'ways' and 'means' to achieve the 'ends'</li>
          <li>be written in plain English so anyone can understand it</li>
          <li>understand what will make the biggest difference</li>
        </ul>

        <H3 class="govuk-heading-m">Avoid:</H3>
        <ul class="govuk-body">
          <li>creating the strategy in isolation</li>
          <li>it being a delivery plan</li>
          <li>a wordy document</li>
          <li>the output being definitive, the strategy may change due to external factors</li>
        </ul>

        <H3 class="govuk-heading-m">Further reading</H3>
        <p class="govuk-body"><a href="https://www.justanotherpm.com/blog/product-strategy-9-tweets-to-help-you-understand-what-it-means">https://www.justanotherpm.com/blog/product-strategy-9-tweets-to-help-you-understand-what-it-means</a></p>
        <p class="govuk-body"><a href="https://gds.blog.gov.uk/2023/03/21/notifys-product-strategy-and-upcoming-features/">https://gds.blog.gov.uk/2023/03/21/notifys-product-strategy-and-upcoming-features/</a></p>
        <p class="govuk-body"><a href="https://wearecitizensadvice.org.uk/product-strategy-2021-to-2023-273c110054d6">https://wearecitizensadvice.org.uk/product-strategy-2021-to-2023-273c110054d6</a></p>
        
        <H2 class="govuk-heading-l">Considering the bigger picture</H2>
        <p class="govuk-body">Know how your work fits within the overall goals of DfE, and the broader aims of digital government – and communicate to try and influence future strategies.</p>
        <p class="govuk-body">Understand the ecosystem of your work – what links to it, what sits near it. Find people working on similar services and learn from them.</p>
        <p class="govuk-body">Understand what standards you need to adhere to, and understand constraints  - both in terms of scope and policy, and technical choices.</p>
        <p class="govuk-body">Develop and maintain an understanding of economic, social, political, environmental and technological developments to ensure activity is relevant </p>
        <p class="govuk-body">Bring together views, perspectives and diverse needs of users and stakeholders to gain a broader understanding of the space you are working in.</p>

      </div> 
    </div> 
    </div>
  </div>
{% endblock %}