{{ header({
"showNav": "true",
"showSearch": "true",
"showHeaderActionLinks": "true",
"showUserName": "false",
"userName": "",
"userNameURL": "",
"selectedNav": selectedNav,
"logoPath": "assets/images",
"searchInputName": "searchterm",
"logoAltText": "Product management manual",
"homeHref":"https://standards.education.gov.uk",
"service": {
"name": "Product management manual",
"serviceUrl": "/"
},
"primaryLinks": [
{
    "url": "/",
    "label": "Home"
},{
    "url": "/community",
    "label": "Community"
},{
    "url": "/new-starters",
    "label": "New starters"
},{
    "url": "/guidance",
    "label": "Guidance"
}
]
})
}}

